<%- include('./particals/head.ejs') %>


    <section>
        <h1>Chatbox</span></h1>
        <ul></ul>
        <form>
          <input type="text" autocomplete="off" />
          <button><span>Send</span></button>
        </form>
      </section>

<%- include('./particals/foot.ejs') %>